
.mini_calendar {
    background-color: #11101e;
    padding: 0.5rem;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title {
            grid-area: header;

            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            height: 30px;
            font-size: 1.25em;

            .month {
                font-weight: bold;
            }
        }

        .pagination {
            grid-area: pagination;

            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }
}