.backlog {
    display: flex;
    flex-direction: column;
    min-height: 0;
    
    gap: var(--gap_small);

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .task_area {
        flex: 1;
        min-height: 0;
    }

    .task_list :global(.simplebar-content) {
        display: flex;
        flex-direction: column;
        gap: var(--gap_small);
    }
}