.date_selector {
    position: relative;
    display: inline-block;

    input {
        padding-right: 36px;
    }

    .icon_area {
        position: absolute;
        right: 0.25rem;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 var(--gap_xsmall);
    }
}