.wrapper {
    position: relative;
    width: 100%;
    min-height: 36px;

    &[data-haserror="true"] {
        .icon {
            bottom: 20px !important;
        }

        textarea {
            border-color: var(--danger);
        }
    }

    .icon {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
        color: var(--text_secondary);
        pointer-events: none;
    }

    &[data-icon="true"] {
        textarea {
            padding-inline-start: 40px;
        }
    }

    textarea {
        border: unset;
        border-radius: var(--gap_small);
        color: #fff;
        font-size: 1rem !important;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(2px);

        padding: 6px;
        border: 2px solid #80808026;

        width: 100%;
        min-height: 36px;

        resize: none;

        transition: all 150ms ease-in-out;

        &[data-errors="true"] {
            border-color: var(--danger);
        }

        &:focus {
            border-color: var(--accent);
            outline: none;
            box-shadow: 0 0 0 1px var(--accent);
        }

        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}
