.wrapper {
    position: relative;
    width: 100%;
    height: 36px;

    &[data-haserror="true"] {
        .icon {
            bottom: 20px !important;
        }
        input {
            border-color: var(--danger);
        }
        .error {
            color: var(--danger);
        }
    }

    &[data-icon="true"] {
        input {
            padding-inline-start: 40px;
        }
    }

    .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        height: fit-content;
        width: fit-content;
        margin: auto;
        z-index: 2;
        color: var(--ss-text_secondary);
    }

    &[data-icon="true"] {
        input {
            padding-inline-start: 40px;
        }
    }
    
    .input_row {
        display: flex;
        align-items: center;
        gap: var(--gap_small);
        height: 36px;

        input {
            border: unset;
            box-sizing: border-box;
            border-radius: var(--gap_small);
            color: #fff;
            font-size: var(--font_medium);
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: blur(2px);
            padding: 0 6px;
            border: 2px solid #80808026;
            height: 100%;
            width: 100%;
            min-height: 0;
            transition: all 150ms ease-in-out;

            &[data-errors="true"] {
                border-color: var(--danger);
            }

            &:focus {
                border-color: var(--accent);
                outline: none;
                box-shadow: 0 0 0 1px var(--accent);
            }

            &:hover,
                &:focus {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

        .no_radius_left {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .no_radius_right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .suffix {
            font-size: var(--font_medium);
        }
    }
}