.color_selector {
    position: relative;
    display: inline-block;

    .preview_area {
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 var(--gap_small);
    }
}