.Button {
    position: relative;
    background: unset;
    border: unset;
    color: #fff;
    font-size: var(--font_medium);
    padding: calc(1rem / 2) 1rem;
    margin: 0;
    border-radius: 0.5rem;
    background-color: #173a92;
    transition: all 150ms ease-in-out;
    z-index: 5;

    > * {
        pointer-events: none;
        vertical-align: middle;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        text-decoration: none;
        background-color: #233f85;
        cursor: pointer;
    }

    &[disabled] {
        opacity: 0.7;
        pointer-events: none;
    }
    
    &[data-variant="transparent"] {
        background-color: unset;

        &:hover:not(&[disabled]) {
            color: var(--text_secondary);
        }
    }

    &--sm {
        padding: 0.25rem 0.5rem;
    }

    &--md {
        padding: 0.5rem 0.75rem;
    }

    &--lg {
        padding: 0.75rem 1rem;
    }

    &--min {
        padding: 0;
        width: fit-content;
        height: fit-content;
    }
}
