.hour_row {
    position: relative;
    width: 100%;
}

.hour_content {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--gap_xsmall);
    font-size: var(--font_small);
}

.text {
    font-size: var(--font_medium);
    white-space: nowrap;
}