@use "./fonts";

body {
    font-family: "Satoshi-Medium", sans-serif !important;
    color: #fff;
    margin: 0;

    // Fonts
    --font_xsmall: 0.75em;
    --font_small: 0.83em;
    --font_medium: 0.9em;
    --font_large: 1em;
    --font_xlarge: 1.25em;

    // Spacing
    --gap: 1rem;
    --gap_xsmall: 0.25rem;
    --gap_small: 0.5rem;
    --gap_large: 1.5rem;

    --success: #44bb88;
    --danger: #ff4d4d;
    --warning: #eca832;

    --text_primary: #fff;
    --text_secondary: #a8a8a8;

    --accent: #2d3035;

    --bg_dark: #121423;
}

.simplebar-scrollbar::before {
    background-color: #f1f1f137 !important;
}

// react-colorful styling
.react-colorful__pointer {
    width: 16px !important;
    height: 16px !important;
}

.react-colorful__saturation {
    border-radius: var(--gap_xsmall) var(--gap_xsmall) 0 0 !important;
}

.react-colorful__last-control {
    border-radius: 0 0 var(--gap_xsmall) var(--gap_xsmall) !important;
    height: 16px !important;
}