.calendar {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.headers {
    flex-shrink: 0;
    height: 40px;
    display: grid;
    grid-template-columns: 45px 1fr;
    
    &::before {
        content: '';
    }

    .day_headers {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: var(--gap_small);
    }
}

.simplebar {
    flex: 1;
    min-height: 0;
}

.content {
    display: grid;
    grid-template-columns: 45px 1fr;

    .right_columns {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: var(--gap_small);
    }
}