.calendar {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .headers {
        position: sticky;
        top: 0;

        z-index: 20;

        display: grid;
        grid-template-columns: 45px 1fr;

        height: 40px;

        margin-bottom: -38px;

        .space {
            width: 45px;
        }

        .day_headers {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            gap: var(--gap_small);
        }
    }
    
    .simplebar {
        flex: 1;
        min-height: 0;
    }

    .content {
        display: grid;
        grid-template-columns: 45px 1fr;
        position: relative;

        > :first-child {
            overflow: visible;
        }

        .right_columns {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            gap: var(--gap_small);

            z-index: 1;

            padding-top: 8px;
        }
    }
}