.layout {
    height: 100vh;
    width: 100vw;
    background-color: #202020;

    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "side_panel content";

    > :first-child {
        grid-area: side_panel;
    }

    .main_content {
        height: 100dvh;
        overflow-y: hidden;
    }
}