.layout {
    height: 100vh;
    width: 100vw;
    background-color: #545454;

    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "side_panel content";

    .side_panel {
        width: 100%;
        height: 100%;
        min-height: auto;

        grid-area: side_panel;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        
        > :first-child {
            height: 300px;
        }

        > :last-child {
            flex: 1;
            min-height: 0;
        }
    }

    .main_content {
        height: 100dvh;
        overflow-y: hidden;
    }
}