.wrapper {
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.span {
    display: block;
    width: 100%;
    font-size: 14px;
    color: var(--color-text-primary);
    line-height: 1.5;
    padding: 2px 0;
    border-radius: var(--gap_xsmall);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;

    transition: padding 0.2s ease, background-color 0.2s ease;

    &:empty::before {
        content: attr(data-placeholder);
        color: var(--color-text-tertiary);
        pointer-events: none;
    }

    &:hover {
        padding: 2px 6px;
        background-color: rgb(32, 32, 32);
    }

    &.focused {
        padding: 2px 6px;
        border: 1px solid var(--accent);
        background-color: rgb(32, 32, 32);
        overflow: scroll;
        text-overflow: clip;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &.read_only {
        padding-left: 0;
        padding-right: 0;
        cursor: default;
        pointer-events: none;

        border-color: transparent;
        background: transparent;
    }
}