.column {
    display: flex;
    flex-direction: column;

    :global(.simplebar-scrollbar::before) {
        opacity: 0 !important;
    }
}

.time {
    position: absolute;
    z-index: 99;
    text-align: center;
    font-size: var(--font_medium);
}