.time_area{
    position: relative;
    z-index: 50;

    .current_time {
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 50;
        pointer-events: none;

        width: 100%;
        text-align: center;
        overflow: visible;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: var(--gap_xsmall);

        color: red;
        font-size: var(--font_small);

        &::after {
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            min-width: 6px;
            border-radius: 50%;
            background: red;
        }
    }
}