.content {
    height: 100%;
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: 1fr;
    min-height: 0;

    .time_column {
        margin-top: 40px;
        height: calc(100% - 40px);
        min-height: 0;
        overflow: hidden;
    }

    .right_columns {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        height: 100%;
    }
}
