.content {
    height: 100%;
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: 1fr;

    .time_column {
        margin-top: 40px;
        overflow-y: auto;
    }

    .right_columns {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        height: 100%;
    }
}
