.backlog {
    background-color: #0d0714;
    display: flex;
    flex-direction: column;
    min-height: 0;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: var(--gap_small);
    }
    
    .task_area {
        flex: 1;
        min-height: 0;
        padding: var(--gap_small);
    }

    .task_list :global(.simplebar-content) {
        display: flex;
        flex-direction: column;
        gap: var(--gap_small);
    }

}