$today-not-selected: #962c2c;
$today-selected: #c53a3a;
$day-not-selected: #5f5f5f9a;
$day-selected: #5f5f5f;

.cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    span {
        position: relative;
        font-size: 0.9em;
        z-index: 1;
    }
}

.cell.today {
    &::before {
        background-color: $today-selected;
    }
}

.cell.today:not(.selected) {
    &::before {
        background-color: $today-not-selected;
        opacity: 0.85;
    }
    
    &:hover::before {
        opacity: 1;
    }
}

.cell:not(.selected):not(.today) {
    &:hover::before {
        background-color: $day-not-selected;
    }
}

.cell.selected:not(.today) {
    &::before {
        background-color: $day-selected;
    }
}

.other_month {
    color: #959595;
}