.column {
    background-color: #2a2a2a;

    display: flex;
    flex-direction: column;

    .time_area {
        background-color: rgb(152, 93, 44);
    }

    :global(.simplebar-scrollbar::before) {
        opacity: 0 !important;
    }
}