$bg-color: rgb(152, 93, 44);

.column {
    background-color: #2a2a2a;

    display: flex;
    flex-direction: column;

    .time_area {
        background-color: $bg-color;
    }

    :global(.simplebar-scrollbar::before) {
        opacity: 0 !important;
    }
}

.time {
    position: absolute;
    z-index: 99;
    text-align: center;
    color: rgb(255, 126, 126);
    background-color: $bg-color;
}

.line {
    position: absolute;
    color: rgb(196, 42, 42);
    top: 0;

    z-index: 99;
    height: 2px;

    background: currentColor;
    transform-origin: left center;
}